<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fishling.business.dao.LoginMapper">
	<!-- 查询所有person -->
	<select id="findUserList" resultType="map">
		select * from user_acount
	</select>

	<select id="userLogin" resultType="cn.fishling.business.dto.UserInfo" parameterType="map">
		select * from user_acount where 1=1
			and (username=#{username} and password=#{password}) 
			or (username=#{username} and password=#{jmPwd})
	</select>
	
	<select id="getUser" resultType="cn.fishling.business.dto.UserInfo" parameterType="map">
		SELECT
			u.*,
			ifNUll( DATE_FORMAT( create_time, '%Y-%m-%d %H:%m:%s' ), '' ) AS createTime,
			ifNUll( DATE_FORMAT( last_modified, '%Y-%m-%d %H:%m:%s' ), '' ) AS lastTime 
		FROM
			user_acount u where 1=1
		<if test="username!=null and username!=''">
			and username=#{username}
		</if>
		<if test="password!=null and password !=''">
			and password=#{password}
		</if>
		<if test="id !=null and id !=''">
			and id=${id}
		</if>
	</select>
	
	<insert id="userRegister" useGeneratedKeys="true" parameterType="map">
		INSERT INTO user_acount ( username, password, realname, phone, 
			valid_sta, email, user_id, create_user, create_time )
		VALUES
			( '${username}','${password}', '${realname}', '${phone}', '${valid_sta}', 
			'${email}', '${user_id}', '${create_user}', SYSDATE( ) )
	</insert>
</mapper>